.card{
    width: 50%;
    margin-bottom: 30px;
    background-color: #112b2b;
    color: white;
    padding-left: 30px;
    box-shadow: 10px 5px 5px black;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.formCard{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list{
    display: flex;
    justify-content: center;
}

.input{
    margin-right: 30px;
}

.actionButtons{
    display: flex;
    justify-content: end;
}

.deleteButton{
    color: white;
    background-color: red;
}

.addButton{
    background-color: #00B0B9;
    color:white;
    margin-bottom: 1.25rem;
}
.addButton:hover, .plusButton:hover{
    background-color: #112b2b;
}

.noVisibleForm{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.plusButton{
    background-color: #00B0B9;
}
.card-title{
    font-size: 30px;
}
h2{
    font-size: 35px;
}

@media screen and (max-width: 900px){
    .form{
        display: flex;
        flex-direction: column;
    }
}



